In [ ]:
# --- Procesamiento y Limpieza ---
import pandas as pd
import numpy as np
import polars as pl
import polars.selectors as cs
from sklearn.preprocessing import StandardScaler

# --- Modelado Bayesiano ---
import pymc as pm
import arviz as az

# --- Visualización ---
import matplotlib.pyplot as plt
import seaborn as sns


# La ruta entra a la carpeta 'dataset' y luego busca el archivo
df = pl.read_csv("dataset/amazon_sales_dataset.csv")

# Para ver las primeras filas
print(df.head())

shape: (5, 13)
┌──────────┬────────────┬────────────┬────────────┬───┬────────┬───────────┬───────────┬───────────┐
│ order_id ┆ order_date ┆ product_id ┆ product_ca ┆ … ┆ rating ┆ review_co ┆ discounte ┆ total_rev │
│ ---      ┆ ---        ┆ ---        ┆ tegory     ┆   ┆ ---    ┆ unt       ┆ d_price   ┆ enue      │
│ i64      ┆ str        ┆ i64        ┆ ---        ┆   ┆ f64    ┆ ---       ┆ ---       ┆ ---       │
│          ┆            ┆            ┆ str        ┆   ┆        ┆ i64       ┆ f64       ┆ f64       │
╞══════════╪════════════╪════════════╪════════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2022-04-13 ┆ 2637       ┆ Books      ┆ … ┆ 3.5    ┆ 443       ┆ 115.88    ┆ 463.52    │
│ 2        ┆ 2023-03-12 ┆ 2300       ┆ Fashion    ┆ … ┆ 3.7    ┆ 475       ┆ 242.08    ┆ 1210.4    │
│ 3        ┆ 2022-09-28 ┆ 3670       ┆ Sports     ┆ … ┆ 4.4    ┆ 183       ┆ 396.64    ┆ 793.28    │
│ 4        ┆ 2022-04-17 ┆ 2522       ┆ Books      ┆ … ┆ 5.0    ┆ 212       ┆ 316.16    ┆ 1264.64   │
│ 5        ┆ 2022-03-13 ┆ 1717       ┆ Beauty     ┆ … ┆ 4.6    ┆ 308       ┆ 201.68    ┆ 806.72    │
└──────────┴────────────┴────────────┴────────────┴───┴────────┴───────────┴───────────┴───────────┘

In [ ]:
# 1. Se muestra que no tenemos valores vacios en nuestra dataframe
nulos = df.null_count()
print(nulos)

shape: (1, 13)
┌──────────┬────────────┬────────────┬────────────┬───┬────────┬───────────┬───────────┬───────────┐
│ order_id ┆ order_date ┆ product_id ┆ product_ca ┆ … ┆ rating ┆ review_co ┆ discounte ┆ total_rev │
│ ---      ┆ ---        ┆ ---        ┆ tegory     ┆   ┆ ---    ┆ unt       ┆ d_price   ┆ enue      │
│ u32      ┆ u32        ┆ u32        ┆ ---        ┆   ┆ u32    ┆ ---       ┆ ---       ┆ ---       │
│          ┆            ┆            ┆ u32        ┆   ┆        ┆ u32       ┆ u32       ┆ u32       │
╞══════════╪════════════╪════════════╪════════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 0        ┆ 0          ┆ 0          ┆ 0          ┆ … ┆ 0      ┆ 0         ┆ 0         ┆ 0         │
└──────────┴────────────┴────────────┴────────────┴───┴────────┴───────────┴───────────┴───────────┘

NameError: name 'cs' is not defined